//imports
@import "utilities/variables";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
body {
  background-image: url(../img/body/fondo3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/fondos/fondomain4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
nav {
  width: 100%;
  height: 13vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.309);
  div {
    img {
      width: 120px;
      margin-top: 0.6rem;
      margin-left: 1.5rem;
      filter: brightness(200%);
    }
  }
}
.nav-btn{
    color: white;
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
}
.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 4.5rem;
    background: rgba(0, 0, 0, 0.882);
    text-align: center;
    transition: all .5s;
    li{
        display: none;
        line-height: 2rem;
        margin: 3.5rem;
        transition: all 0.5s;
        a{
            line-height: 2rem;
            margin-top: 3rem;
            font-size: 1.2rem;
            text-transform: uppercase;
            color: $color-letras;
            font-weight: $peso-titulos;  
        }
        a:hover{
            transition: $transition-hover;
            color: $color-hover;
        }
                  
    }

}
#check{
    display:none;
}
#check:checked ~ .nav-menu{
    height:100vh;
}
#check:checked ~ .nav-menu li{
    display:block;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-dos{
    background-image: none;
    height: 20vh;
}

//FOOTER
/*estilos footer*/
.footer-padre {
    background-color: rgb(33, 33, 33);
    display: grid;
    grid-template-areas: "f1 f1 f1 f1"
                          "f2 f2 f3 f3"
                          "f4 f4 f4 f4";
    color: white;
    font-size: 0.5rem;
    margin-top: $margen-top;
    

}
.footer-uno{
    grid-area: f1;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    img{
        margin-top: 1rem;
        width: 50%;
    }
}
.footer-dos{
    grid-area: f2;
    text-align: center;
}
.footer-tres{
    grid-area: f3;
    text-align: center;
}
.footer-cuatro{
    grid-area: f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    p{
        width: 50%;
        text-align: center;
    }
    .imgs{
        width: 50%;
        img{
            width: 5%;
            margin-right: 0.2rem;
            filter: invert(1)
        }
    }
}


//HTML nosotros

.caja-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $padding-contenedores;
  gap: $gap-contenedores;
  img {
    box-shadow: $sombra-cajas;
    width: 90%;
  }
}
.texto-nosotros {
  display: flex;
  flex-direction: column;
  text-align: justify;
  h1 {
    font-size: $titulo-principal;
    font-weight: $peso-titulos;
  }
  h2 {
    font-size: $titulo-principal;
    font-weight: $peso-titulos;
  }

}
.carrusel-dos {
  margin-top: $margen-cajas;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: $titulo-principal;
    font-weight: $peso-titulos;
  }
}
#carouselExampleFadee {
  width: 75%;
}

//MEDIA QUERIES
@import "utilities/medias";